In [9]:
import pandas as pd
import pickle
from datetime import datetime, timedelta
import numpy as np

In [10]:
def group_func(d):
    print("Inside grouping func")
    print("d={}".format(d))
    print("d.month = {}".format(d.month))
    print("d.day = {}".format(d.day))
    print(d.month, d.day)
    return datetime(2001, d.month, d.day)

In [11]:
dates = [datetime(2000, 1, 1) + timedelta(days=i) for i in range(10000)]
data = np.random.randn(len(dates))
df = pd.DataFrame(data=data, index=dates)

In [12]:
df.head()

                   0
2000-01-01  0.114526
2000-01-02  1.961518
2000-01-03  0.208786
2000-01-04 -1.368580
2000-01-05 -0.448244

In [13]:
df.tail()

                   0
2027-05-14 -0.368828
2027-05-15 -1.025227
2027-05-16 -0.736148
2027-05-17 -0.233862
2027-05-18  0.168260

In [26]:
df = df.select(lambda d: not (d.month == 2 and d.day == 29))
# groups = df.groupby(by=group_func)
medians = df.groupby([df.index.month, df.index.day]).apply(lambda x: np.percentile(x, 0.5))


print(medians.head())

print(medians[1,2], medians[1, 3])

1  1   -1.592310
   2   -3.015976
   3   -2.330287
   4   -2.110921
   5   -1.628028
dtype: float64
-3.01597604931 -2.3302867066

In [8]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.4.3.final.0
python-bits: 64
OS: Darwin
OS-release: 16.7.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_CA.UTF-8
LOCALE: en_CA.UTF-8

pandas: 0.20.3
pytest: None
pip: 9.0.1
setuptools: 28.5.0
Cython: 0.22
numpy: 1.13.1
scipy: 0.15.1
xarray: 0.8.2
IPython: 5.1.0
sphinx: 1.4.8
patsy: None
dateutil: 2.6.1
pytz: 2017.2
blosc: None
bottleneck: None
tables: None
numexpr: 2.6.2
feather: None
matplotlib: 1.5.3
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: None
html5lib: None
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.8
s3fs: None
pandas_gbq: None
pandas_datareader: None

/usr/local/Cellar/python3/3.4.3/Frameworks/Python.framework/Versions/3.4/lib/python3.4/importlib/_bootstrap.py:321: FutureWarning: The pandas.tslib module is deprecated and will be removed in a future version.
  return f(*args, **kwds)

In [7]:
tst = df.index.map(group_func)

Inside grouping func
d=DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2027-05-09', '2027-05-10', '2027-05-11', '2027-05-12',
               '2027-05-13', '2027-05-14', '2027-05-15', '2027-05-16',
               '2027-05-17', '2027-05-18'],
              dtype='datetime64[ns]', length=9993, freq=None)
d.month = Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', length=9993)
d.year = Int64Index([2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000,
            ...
            2027, 2027, 2027, 2027, 2027, 2027, 2027, 2027, 2027, 2027],
           dtype='int64', length=9993)
Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', length=9993) Int64Index([2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000,
            ...
            2027, 2027, 2027, 2027, 2027, 2027, 2027, 2027, 2027, 2027],
           dtype='int64', length=9993)
Inside grouping func
d=2000-01-01 00:00:00
d.month = 1
d.year = 2000
1 2000

ValueError: day is out of range for month