In [81]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [92]:
import pickle

pickle.load(open("analyse_tracker_data_sans_2004.pkl", "rb"))

TypeError: _reconstruct: First argument must be a sub-type of ndarray

In [82]:
inds = [d0 + (i // 3) * timedelta(hours=5) for i in range(20)]

In [83]:
data = list(range(len(inds)))

In [84]:
df = pd.DataFrame(index=inds, data=data)

In [87]:
df

                             0
2016-11-16 11:24:08.723237   0
2016-11-16 11:24:08.723237   1
2016-11-16 11:24:08.723237   2
2016-11-16 16:24:08.723237   3
2016-11-16 16:24:08.723237   4
2016-11-16 16:24:08.723237   5
2016-11-16 21:24:08.723237   6
2016-11-16 21:24:08.723237   7
2016-11-16 21:24:08.723237   8
2016-11-17 02:24:08.723237   9
2016-11-17 02:24:08.723237  10
2016-11-17 02:24:08.723237  11
2016-11-17 07:24:08.723237  12
2016-11-17 07:24:08.723237  13
2016-11-17 07:24:08.723237  14
2016-11-17 12:24:08.723237  15
2016-11-17 12:24:08.723237  16
2016-11-17 12:24:08.723237  17
2016-11-17 17:24:08.723237  18
2016-11-17 17:24:08.723237  19

In [93]:
groups = df.groupby(by=lambda d: d)

In [106]:
for d, the_group in groups:
    print(d, the_group.iloc[0, 0])

2016-11-16 11:24:08.723237 0
2016-11-16 16:24:08.723237 3
2016-11-16 21:24:08.723237 6
2016-11-17 02:24:08.723237 9
2016-11-17 07:24:08.723237 12
2016-11-17 12:24:08.723237 15
2016-11-17 17:24:08.723237 18

In [95]:
groups.mean()

                               0
2016-11-16 11:24:08.723237   1.0
2016-11-16 16:24:08.723237   4.0
2016-11-16 21:24:08.723237   7.0
2016-11-17 02:24:08.723237  10.0
2016-11-17 07:24:08.723237  13.0
2016-11-17 12:24:08.723237  16.0
2016-11-17 17:24:08.723237  18.5

In [97]:
groups.count()

                            0
2016-11-16 11:24:08.723237  3
2016-11-16 16:24:08.723237  3
2016-11-16 21:24:08.723237  3
2016-11-17 02:24:08.723237  3
2016-11-17 07:24:08.723237  3
2016-11-17 12:24:08.723237  3
2016-11-17 17:24:08.723237  2

In [98]:
groups.irow()

TypeError: irow() missing 1 required positional argument: 'i'