In [13]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [14]:
d0 = datetime.now()
inds = [d0 + (i // 3) * timedelta(hours=5) for i in range(20)]

In [15]:
data = list(range(len(inds)))

In [16]:
df = pd.DataFrame(index=inds, data=data)

In [7]:
df

                             0
2016-11-16 11:55:54.068591   0
2016-11-16 11:55:54.068591   1
2016-11-16 11:55:54.068591   2
2016-11-16 16:55:54.068591   3
2016-11-16 16:55:54.068591   4
2016-11-16 16:55:54.068591   5
2016-11-16 21:55:54.068591   6
2016-11-16 21:55:54.068591   7
2016-11-16 21:55:54.068591   8
2016-11-17 02:55:54.068591   9
2016-11-17 02:55:54.068591  10
2016-11-17 02:55:54.068591  11
2016-11-17 07:55:54.068591  12
2016-11-17 07:55:54.068591  13
2016-11-17 07:55:54.068591  14
2016-11-17 12:55:54.068591  15
2016-11-17 12:55:54.068591  16
2016-11-17 12:55:54.068591  17
2016-11-17 17:55:54.068591  18
2016-11-17 17:55:54.068591  19

In [8]:
groups = df.groupby(by=lambda d: d)

In [17]:
# leave only the first index from among the duplicates
for d, the_group in groups:
    print(d, the_group.iloc[0, 0])

2016-11-16 11:55:54.068591 0
2016-11-16 16:55:54.068591 3
2016-11-16 21:55:54.068591 6
2016-11-17 02:55:54.068591 9
2016-11-17 07:55:54.068591 12
2016-11-17 12:55:54.068591 15
2016-11-17 17:55:54.068591 18

In [20]:
# the version with apply
df.groupby(by=lambda d: d).apply(lambda g: g.iloc[0, 0])

2016-11-16 11:56:25.867842     0
2016-11-16 16:56:25.867842     3
2016-11-16 21:56:25.867842     6
2016-11-17 02:56:25.867842     9
2016-11-17 07:56:25.867842    12
2016-11-17 12:56:25.867842    15
2016-11-17 17:56:25.867842    18
dtype: int64

In [10]:
groups.mean()

                               0
2016-11-16 11:55:54.068591   1.0
2016-11-16 16:55:54.068591   4.0
2016-11-16 21:55:54.068591   7.0
2016-11-17 02:55:54.068591  10.0
2016-11-17 07:55:54.068591  13.0
2016-11-17 12:55:54.068591  16.0
2016-11-17 17:55:54.068591  18.5

In [11]:
groups.count()

                            0
2016-11-16 11:55:54.068591  3
2016-11-16 16:55:54.068591  3
2016-11-16 21:55:54.068591  3
2016-11-17 02:55:54.068591  3
2016-11-17 07:55:54.068591  3
2016-11-17 12:55:54.068591  3
2016-11-17 17:55:54.068591  2