In [1]:
%matplotlib inline

In [19]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from collections import defaultdict

In [3]:
path = "/Users/san/Downloads/test"
day = timedelta(days=1)
date_format = "%Y%m%d%H"

In [4]:
indf = pd.read_csv(path, sep="\s+", header=None)

In [5]:
indf.head()

       0           1     2    3
0   5300  2015010700  79.3 -175
1   5315  2015010700  78.0 -171
2   5318  2015010700  80.5  175
3  35094  2015010700  79.1  177
4  83723  2015010700  83.8  165

In [6]:
outdf = indf.copy()

In [7]:
outdf[4] = indf[1].map(
    lambda d: int((datetime.strptime(str(d), date_format) + day).strftime(date_format)))

In [8]:
outdf.head()

       0           1     2    3           4
0   5300  2015010700  79.3 -175  2015010800
1   5315  2015010700  78.0 -171  2015010800
2   5318  2015010700  80.5  175  2015010800
3  35094  2015010700  79.1  177  2015010800
4  83723  2015010700  83.8  165  2015010800

In [41]:
st_date_to_lat_lon = {}
for st, data in outdf.groupby(0):
    st_date_to_lat_lon[st] = defaultdict(lambda: (np.nan, np.nan))
    
    for row_i, row in data.iterrows():
        st_date_to_lat_lon[st][row[1]] = (row[2], row[3])

In [42]:
outdf[5] = outdf.apply(lambda arow: st_date_to_lat_lon[arow[0]][arow[4]][0], axis=1)
outdf[6] = outdf.apply(lambda arow: st_date_to_lat_lon[arow[0]][arow[4]][1], axis=1)

In [47]:
# Some dates do not have the corresponding data a day later (so for those I've put nans), 
# If not needed 

# outdf = outdf.dropna()

In [48]:
outdf.to_csv("test_for_Kamel.csv", sep=" ", index=False, header=False)

In [49]:
len(indf), len(outdf)

(2359, 2213)

In [45]:
indf[indf[0] == 5300]

         0           1     2    3
0     5300  2015010700  79.3 -175
100   5300  2015010800  79.4 -175
200   5300  2015010900  79.4 -175
299   5300  2015011000  79.5 -175
398   5300  2015011100  79.4 -174
495   5300  2015011200  79.4 -173
592   5300  2015011300  79.4 -173
690   5300  2015011400  79.3 -172
786   5300  2015011500  79.3 -172
881   5300  2015011600  79.3 -172
978   5300  2015011700  79.3 -172
1076  5300  2015011800  79.3 -172
1173  5300  2015011900  79.3 -172
1270  5300  2015012000  79.3 -172
1366  5300  2015012100  79.3 -172
1460  5300  2015012200  79.3 -172
1553  5300  2015012300  79.4 -172
1646  5300  2015012400  79.4 -173
1739  5300  2015012500  79.4 -172
1830  5300  2015012600  79.3 -172
1920  5300  2015012700  79.3 -172
2013  5300  2015012800  79.3 -172
2089  5300  2015012900  79.3 -172
2178  5300  2015013000  79.3 -172
2268  5300  2015013100  79.4 -172